* {
  font-family: Poppins;
}
html {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
  background-color: #0c0c0c;

  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #8e8e93;
  font-size: 35px;
}
h2 {
  font-size: 18px;
  font-weight: 600;

  color: #8e8e93;
}
h3 {
  padding-top: 5px;
  font-size: 15px;
  font-weight: 600;

  color: #424242;
}

input,
select {
  height: 40px;

  border-radius: 10px;
  border: none;

  text-align: center;
  font-weight: 600;

  color: #6fbf68;
  background-color: #2c2c2c;
}

.redButton,
.greenButton {
  height: 40px;
  padding: 7px 25px;

  background-color: transparent;

  border-radius: 10px;

  font-size: 15px;
  font-weight: 600;

  transition: all 0.2s ease-in-out;
}
.redButton {
  border: 2px solid #ea7063;
  color: #ea7063;
}
.redButton:hover {
  background-color: #ea7063 !important;

  color: #0c0c0c;
}
.greenButton {
  border: 2px solid #6fbf68;
  color: #6fbf68;
}
.greenButton:hover {
  background-color: #6fbf68 !important;

  color: #0c0c0c;
}

.wrapper {
  background-color: #1d1d1d;
  border-radius: 10px;
  width: 430px;
  padding: 30px 20px;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

  #subtitle {
    margin-top: 4px;
  }
  .buttons {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 20px;
    }
  }
  .buttonWrapper {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    margin-top: 35px;
  }
}

#settingsForm {
  margin-top: 40px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
    input {
      width: 90px;
    }
    select {
      width: 40%;
      text-align-last: center;

      border: none;

      -moz-appearance: none;
      -webkit-appearance: none;

      option {
        background-color: #2c2c2c;
      }
    }
  }
}

#loginForm {
  margin-top: 40px;
  div {
    padding-bottom: 10px;
    h2 {
      font-size: 14px;
      padding-bottom: 5px;
    }
    input {
      width: 100%;
      box-sizing: border-box;
      height: 40px;

      border-radius: 10px;
      border: none;

      text-align: left;

      background-color: #2c2c2c;

      padding-left: 20px;
      font-size: 14px;
      font-weight: 600;

      color: #6fbf68;
    }
  }
}
#flashes {
  color: #ea7063;
}
.notifications {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 350px;

  padding-bottom: 20px;
  padding-right: 20px;

  .notification {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: flex-start;

    padding: 0 20px;
    margin-top: 20px;

    border-radius: 10px;

    svg {
      padding-right: 20px;
      transform: scale(1.4);
    }
    h2 {
      font-size: 20px;
    }
  }
  #success {
    border: 3px solid #6fbf68;
    h2, svg  {
      color: #6fbf68;
      path{
        stroke: #6fbf68 !important;
      }
    }
  }
  #error {
    border: 3px solid #ea7063;
    h2, svg {
      color: #ea7063;
      path{
        stroke: #ea7063 !important;
      }
    }
  }
  #info {
    border: 3px solid #fad36f;
    h2, svg  {
      color: #fad36f;
      path{
        stroke: #fad36f !important;
      }
    }
  }
}

.accessLog {
  padding-top: 20px;

  .logs {
    height: 100px;

    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 10px;

    overflow: auto;

    background-color: #242424;
    & > div {
      width: 100%;
      height: 40px;

      display: flex;

      margin-bottom: 5px;
      span {
        height: 100%;
        width: 5px;

        margin-right: 5px;
        border-radius: 5px 0 0 5px;

        background-color: #6fbf68;
      }
      div {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0px 10px;
        border-radius: 0 5px 5px 0;

        background-color: #1a1a1a;
        h3 {
          color: #6fbf68;

          font-size: 14px;
          font-weight: 600;
          text-align: right;
        }
        h2 {
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
  .logs::-webkit-scrollbar {
    width: 5px;

    margin-right: 20px;
  }

  .logs::-webkit-scrollbar-thumb {
    border-radius: 0 5px 5px 0;
    background-color: #5e6169;
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    width: 100vw;
  }
}
